.floating {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
}

.jumbo-btn.variable-mgn {
    @media (max-width: 950px) {
        margin-left: 0 !important;
    }
}
