#mental {
    .stat-bubble {
        @media (max-width: 576px) {
            padding-right: 2px;
            padding-left: 2px;
        }
    }
}

.stat-box {
    background-color: $light;
    height: 100%;
    border-radius: 20px;
}

.stat-text {
    border-top-right-radius: 60px;

    p {
        margin: 0;
    }
}

.stat-number {
    p {
        margin: 0;
        font-size: 48px;
        font-weight: bold;

        @media (max-width: 576px) {
            font-size: 32px;
        }
    }
}
