.member-info {
    background-color: $success;
    border-radius: 20px;
}

.member-1 {
    background-color: $success;
}

.member-2 {
    background-color: $warning;
}

.member-3 {
    background-color: $danger;
}

.member-4 {
    background-color: $secondary;
}

.headshot {
    width: 100%;
}
